h1{
  padding-top: 50px;
  width: 80%;
  margin:auto;
  font-family: montserrat;
  color: #525252;
  font-size: 40px;
}

.card {
  display: inline-block;
  flex: 1;
  position: relative;
  min-width: 300px;
  height: 10rem;
  margin: .1rem;
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #3979B7;
  overflow: hidden;
}
.card__icon {
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  width: 50px;
  line-height: 2rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.card__circle {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.2;
  transition: all 0.4s ease-in-out;
}
.card > p {
  position: relative;
  top: 50%;
  margin: 0 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
}
.card--alt-1 {
  background-color: #7E3F82;
}
.card--alt-2 {
  background-color: #39B764;
}
.card--alt-3 {
  background-color: #CC3F82;
}
.card--alt-4 {
  background-color: #EF7C2B;
}
.card:hover .card__circle {
  transform: scale(70);
  opacity: 0.8;
}
.card:hover > p,
.card:hover .card__icon {
  color: #45556E;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
}


@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

*{
  margin: 0;
  padding: 0;
}
.intro{
  margin: auto;
}
.black {
  width: 50%;
  float: left;
  background: #283644;
  height: 100vh;
}

.white{
  width: 50%;
  float: right;
  background: #4D727E;
  height: 100vh;
}

.box{
  height: 300px;
  width: 500px;
  background: #069A8E;
  position:absolute;
  top:150px;
  left:0;
  right:0;
  margin:auto;
  border-radius:20px;
}

.boxfather{
  width:100%;
  position:absolute;
}
.box h1{
  color: #E4E4E4;
  font-size: 5em;
  text-align: center;
  position: relative;
  top:70px;
  font-family: 'Montserrat', sans-serif;
}

.box button{
  left:43%;
  position:relative;
  top:120px;
  padding: 8px 20px;
  cursor:pointer;
  border:0;
  outline:none;
  color:#525252;
  background:#E4E4E4;
  transition:all .3s ease;
  font-size: 19px;
  font-family: montserrat;
  border-radius:5px;
}
.homepage{
  height: 100vh;
  position:relative;
  top:40px;
  
 
}
.homepage p{
  width: 80%;
  line-height: 1.5;
  margin:50px auto;
  font-family: oxygen;
  font-size: 18px;
  color: #585858;
}
.homepage h1{
  padding-top: 50px;
  width: 80%;
  margin:auto;
  font-family: montserrat;
  color: #525252;
  font-size: 40px;
}
