h1 {
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
	padding: 20px 0px 20px 0px;

}
 
 h2{
 	font-family: 'Cormorant Garamond', serif;
 	text-align: center;
}

h3{
	font-size: 20px;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 33px;
}

.descriptiontag{
	font-family: 'Raleway', sans-serif;
	padding-left: 59%;
	padding-top: 3%;
}

img {
    position: relative;
    float: left; 
    width: 320px; 
        height: 275px;
}
 

.intro {
    width: 100px;
    border: 2px solid green;
    padding: 25px;
    margin: 25px;
   text-align: center;

}
.container {
    position: relative;

}


.block {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 1200px;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding-top: 80px;
   background-color: #e6e9f0;

}

.block1 {
  align-self: left;
  position: relative;
  z-index: 1;
  background: #ebedee;
  max-width: 700px;
  margin: 0 auto 50px;
  padding: 7px;
  align-items: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    height: 290px;
  padding-bottom: 5px;

}


.SummaryBlock {
 background: #ebedee;
    max-width: 90%;
    margin: 0 auto 50px;
    /* padding: 7px; */
    /* align-items: left; */
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
 /*   height: 200px;*/
    padding-bottom: 5px;;
}

.skills{
  float: left;
  width: 50%;
  padding-left: 20%;
  font-weight:bold;
  line-height:1.3em;

  /*font-family: bold;*/

}

#box {
	float: left;
	height: 100px;
	width: 350px;
	margin: 20px;
	padding: 10px;
	border: solid;
	border-radius: 10px;
	background: #000;
}

#resumebox {
	float: left;
	height: 100px;
	width: 200px;
	margin: 20px;
	padding: 10px;
	border: solid;
	border-radius: 10px;
	background: #000;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
      max-height: 50px;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
      max-height: 50px;
}

.fa-skype {
  background: #00aff0;
  color: white;
      max-height: 50px;
}

.fa-google {
  background: #dd4b39;
  color: white;
      max-height: 50px;
}


.target{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}


.txtNew h4 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}


/*.txtNew > * {
    pointer-events: auto;
}*/

.font_4 {
    font: normal normal normal 30px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    color: #182153;
}
.color_19 {
    color: #182153;
}


    
element.style {
    clear: both;
    background-color: white;
    position: relative;

}


.txtNew h6 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}


.font_6 {
    font: normal normal normal 14px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
    color: #182153;
    font-size: 16px;
}


