h1 {
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
	padding: 20px 0px 20px 0px;

}
 
 h2{
 	font-family: 'Cormorant Garamond', serif;
 	text-align: center;
}

h3{
	font-size: 20px;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 33px;
}

.descriptiontag{
	font-family: 'Raleway', sans-serif;
	padding-left: 59%;
	padding-top: 3%;
}

img {
    position: relative;
    float: left; 
    width: 320px; 
        height: 275px;
}

.img1 {
    
    float: right; 
   
}

 

.intro {
    width: 100px;
    border: 2px solid green;
    padding: 25px;
    margin: 25px;
   text-align: center;

}
.container {
    position: relative;

}


.block {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 1200px;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding-top: 80px;
   background-color: #e6e9f0;

}

.block1 {
  align-self: left;
  position: relative;
  z-index: 1;
  background: #ebedee;
  max-width: 700px;
  margin: 0 auto 50px;
  padding: 7px;
  align-items: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    height: 290px;
  padding-bottom: 5px;

}


.SummaryBlock {
 background: #ebedee;
    max-width: 90%;
    margin: 0 auto 50px;
    /* padding: 7px; */
    /* align-items: left; */
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
 /*   height: 200px;*/
    padding-bottom: 5px;;
}

.skills{
  float: left;
  width: 50%;
  padding-left: 20%;
  font-weight:bold;
  line-height:1.3em;

  /*font-family: bold;*/

}

#box {
	float: left;
	height: 100px;
	width: 350px;
	margin: 20px;
	padding: 10px;
	border: solid;
	border-radius: 10px;
	background: #000;
}

#resumebox {
	float: left;
	height: 100px;
	width: 200px;
	margin: 20px;
	padding: 10px;
	border: solid;
	border-radius: 10px;
	background: #000;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
      max-height: 50px;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
      max-height: 50px;
}

.fa-skype {
  background: #00aff0;
  color: white;
      max-height: 50px;
}

.fa-google {
  background: #dd4b39;
  color: white;
      max-height: 50px;
}


.target{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}


.txtNew h4 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}


/*.txtNew > * {
    pointer-events: auto;
}*/

.font_4 {
    font: normal normal normal 30px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    color: #182153;
}
.color_19 {
    color: #182153;
}


    
element.style {
    clear: both;
    background-color: white;
    position: relative;

}


.txtNew h6 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}


.font_6 {
    font: normal normal normal 14px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
    color: #182153;
    font-size: 16px;
}


.container {width:100%; height:30px;}
.left {float:left; width:auto; height:30px;}
.right {float:right; width: auto; height:30px}


/*Workex Gallery*/
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.snip1321 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.snip1321 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
figure.snip1321 img {
  max-width: 100%;
  vertical-align: top;
}
figure.snip1321 figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
figure.snip1321 h2,
figure.snip1321 h4 {
  margin: 0;
}
figure.snip1321 h2 {
  font-weight: 600;
}
figure.snip1321 h4 {
  font-weight: 400;
  text-transform: uppercase;
}
figure.snip1321 i {
  font-size: 32px;
}
figure.snip1321:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
figure.snip1321 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1321:hover:after,
figure.snip1321.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}
/* Demo purposes only */
body {
  background-color: #212121;
}
